demoProject/WebApplicationMunicipality/Connected Services/ServiceReference1/Service2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfTaxdetail">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Taxdetail" nillable="true" type="tns:Taxdetail" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTaxdetail" nillable="true" type="tns:ArrayOfTaxdetail" />
  <xs:complexType name="Taxdetail">
    <xs:sequence>
      <xs:element minOccurs="0" name="date" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="municipalityName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="result" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Taxdetail" nillable="true" type="tns:Taxdetail" />
  <xs:complexType name="CompositeType">
    <xs:sequence>
      <xs:element minOccurs="0" name="BoolValue" type="xs:boolean" />
      <xs:element minOccurs="0" name="StringValue" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CompositeType" nillable="true" type="tns:CompositeType" />
</xs:schema>